.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
}

/* ==== CODE ALONG ==== */

#box1 {
    scale: 0.7;
}

#box2 {
    translate: 90px -10px;
}

#box3 {
    rotate: 45deg;
}

#box4 {
    transform: skew(30deg, 10deg);
}

/* ==== CODE SOLO ==== */

#ind_box1 {
background-color: rgb(255, 213, 235);
scale: 1.2;
rotate: 50deg;
transform: skew(-0.06turn, 18deg);
}

#ind_box1:hover {
    background-color: rgb(255, 149, 239);
  color: black;
  cursor: pointer;
}

#ind_box2 {
background-color: rgb(243, 213, 255);
translate: 90px -10px;
transform: skew(-0.35turn, 10deg);
}

#ind_box2:hover {
    background-color: rgb(225, 149, 255);
  color: black;
  cursor: pointer;
}

#ind_box3 {
background-color: rgb(213, 239, 255);
rotate: 3 0.5 2 -45deg;
scale: 5;
translate: 400px 150px;
}

#ind_box3:hover {
    background-color: rgb(149, 223, 255);
  color: black;
  cursor: pointer;
}

/* Apply FOUR CSS transforms in total to make the boxes visually distinct and interesting. You can use scale, translate, rotate, and skew or even combine them. */


/* BONUS: Try combining the :hover selector with the transform property. Try to make the boxes spin when you hover over them. Use the transition: 0.3s ease; property and value to make it smoother. */
