.box {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: lightblue;
    text-align: center;
    line-height: 100px;
}

/* ==== CODE ALONG ==== */

#box1 {
    scale: 0.7;
}

#box2 {
    translate: 90px -10px;
}

#box3 {
    rotate: 45deg;
}

#box4 {
    transform: skew(30deg, 10deg);
}

/* ==== CODE SOLO ==== */

#ind_box1 {
    scale: 1.2;
     rotate: 50deg;
     background-color: rgb(255, 213, 235);
     transform: skew(-0.06turn, 18deg);
}

/* Apply FOUR CSS transforms in total to make the boxes visually distinct and interesting. You can use scale, translate, rotate, and skew or even combine them. */


/* BONUS: Try combining the :hover selector with the transform property. Try to make the boxes spin when you hover over them. Use the transition: 0.3s ease; property and value to make it smoother. */
